<h1>Editing calculation</h1>

<%= render "form", calculation: @calculation %>

<br>

<div>
  <%= link_to "Show this calculation", @calculation %> |
  <%= link_to "Back to calculations", calculations_path %>
</div>
